* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/527.jpg);
  background-size: cover;  
  background-attachment: fixed;
  font-family: 'Indie Flower', cursive;
}

.headder {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 70px;
  font-family: 'Indie Flower', cursive;
  background-color: rgba(250, 235, 215, 0.671);
  border: double black;
  border-radius: 5%;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;  
}

.input {
  background-color: rgba(250, 235, 215, 0.595);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 30px;
  border: double black;
  border-radius: 5%;
}

.input label {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: large;
  font-weight: 600;
  font-style: italic;
  text-decoration: underline;
}

.input input {
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  width: 30%;
  height: 40px;
  border: 2px solid rgba(0, 0, 0, 0.492);
  background-color: rgba(255, 255, 255, 0.779);
  font-family: 'Indie Flower', cursive;
}

.input button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 5px;  
}

.input button:hover {
  box-shadow: -1px 2px 10px 10px white;
}

.hidden {
  display: none;
}