* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/527.jpg);
  background-size: cover;  
  background-attachment: fixed;
  font-family: 'Indie Flower', cursive;
}

.headder {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 70px;
  font-family: 'Indie Flower', cursive;
  background-color: rgba(250, 235, 215, 0.671);
  border: double black;
  border-radius: 5%;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;  
}

.input {
  background-color: rgba(250, 235, 215, 0.595);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 30px;
  border: double black;
  border-radius: 5%;
}

.input label {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: large;
  font-weight: 600;
  font-style: italic;
  text-decoration: underline;
}

.input input {
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  width: 30%;
  height: 40px;
  border: 2px solid rgba(0, 0, 0, 0.492);
  background-color: rgba(255, 255, 255, 0.779);
  font-family: 'Indie Flower', cursive;
}

.input button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 5px;  
}

.input button:hover {
  box-shadow: -1px 2px 10px 10px white;
}

.output {
  display: flex;
  justify-content: center;
}

.output img {
  width: auto;
}

#result {
	position: relative;
	background-color: rgba(240, 248, 255, 0.842);
	border-radius: 5%;
  
}


/* {  
  border: double black;
  border-radius: 5%;***
  background-color: rgba(240, 248, 255, 0.842);***
  margin-left: 30px;
  height: auto; 
  padding: 15px; 
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */

#result:after {
	content: '';
	position: absolute;
	right: 0;
	top: 75%;
	width: 0;
	height: 0;
	border: 40px solid transparent;
	border-left-color: rgba(240, 248, 255, 0.842);
	border-right: 0;
	border-top: 0;
	margin-top: -19.5px;
	margin-right: -39px;
}


.hidden {
  display: none;
}